{% extends 'base.html' %}

{% block header %}
{% include "nav_dossier/nav.html" %}
{% endblock %}

{% block content %}
<h1> Login </h1>
{{error}}

<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text"  name="username" placeholder="Entrez votre nom d'utilisateur">
    <br><br>
    <label for="password">Password:</label>
    <input type="password"  name="password" placeholder="Entrez votre password">
    <br><br>
    <button type="submit">Login</button>
    <h4> Vous n'avez pas de compte? Cliquez ici <a href="register">Register</a></h4>
</form>        
{% endblock %}
